registry=https://pkgs.dev.azure.com/qoobiss/Origin/_packaging/libs/npm/registry/
@qoobiss:registry=https://pkgs.dev.azure.com/qoobiss/Collector/_packaging/origin-feed/npm/registry/
always-auth=true
legacy-peer-deps=true